/* csslint ignore:start */
header {
  display: -webkit-box;

  -webkit-box-pack: justify;
}

header .contact {
  -webkit-box-flex: 1;
}

main {
  overflow: hidden;
}

.experience {
  float: left;
}

aside {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  float: right;
}

aside section {
  -webkit-box-flex: 1;
}

.profiles {
  clear: both;
}
/* csslint ignore:end */
